{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <p>
          <h3>ERP simple model</h3>
          This project is currently being developed for the purpose of researching and
          analyzing the various patterns and techniques in Object-Oriented Programming via Python,
          that can be applied when creating a web application for a business area of enterprise resource planning (ERP).
        </p>
        <p>
          Additionally, the project should provide insight into the potential pros and cons of developing a
          business application using an object-oriented approach, as compared to the BaanC language used in the
          development of the ERP system Baan/LN.
        </p>
        <p>
        <h4>Project Overview</h4>
          The functional scope of this model is limited by the following simplified business case:
        </p>
        <p>
          Generate master data required for:
          business partners (customers and suppliers)
          warehouses
          items (goods, materials).
          Generate some inventory transactions for item stock availability
          Create several sales orders with planned delivery dates
          Create a simple planning logic to calculate item stock availability at sales order delivery dates
          Generate purchase orders for non-available stock quantities, respecting suppliers lead time
          The project is designed to demonstrate the use of Python's OOP capabilities in a business context.
        </p>
      </div>
    </div>
  </div>
{% endblock %}